* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  margin: auto;
  align-items: center;
}

.col1 {
  background-color: hsl(31, 77%, 52%);
  color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.col2 {
  background-color: hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%);
}
.col3 {
  background-color: hsl(179, 100%, 13%);
  color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
h2 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  margin-top: 50px;
  text-align: left;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-align: left;
}
a {
  display: inline-block;
  background-color: #fff;
  color: inherit;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 50px;
  text-decoration: none;
}
.column {
  float: left;
  width: 300px;
  padding: 50px;
  height: 500px;
}
.row {
  width: 900px;
  margin-inline: auto;
  margin-top: 50px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
