body{
  background-color: #EEEEEE;
}
#main-header {
  background-color: #2A3D4B;
  padding: 10px;
}
nav {
  float: right;
}
#see-all {
  float: right;
}
#right-aside {
  float: right;
}
#left-aside {
  float: left;
  margin-right: 40px;
}
.ads-img {
  border-radius: 50%;
}
#ads {
  width: 300;
  height: 300;
  margin: 30px;
  background-color: violet;
  text-align: center;
  padding: 5px;
}
#affilated-page {
  width: 300;
  height: 300;
  margin: 30px;
  background-color: yellowgreen;
  text-align: center;
  padding: 5px;
}

img-align {
  float: left;
}
.core {
  width: 800px;
  background-color: tomato;
  text-align: center;
  display: block;
  padding:10px;
  margin-bottom: 20px;
}
#top {
  position: relative;
  width: 1350px;
  height: 300px;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: 1350px 150px;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 5px solid #2A3D4B;
}
#grid {
  padding-inline: 50px;
}
#middle {
  float: left;
  display: inline;
}
.main-arc {
  float: left;
}
input {
  width: 300px;
}
.a-nav {
  color: aliceblue;
  margin-right: 30px;
}
#images-container {
  position: relative;
}
#big-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
#small-image {
  position: absolute;
  object-fit: fill;
  bottom: 0;
  left: 0;
  z-index: 1;
}
h1{
  color: black;
  position: absolute;
  top: 150px;
  left: 130px;
}
.top-txt{
  position: absolute;
  bottom:20px
}
.company{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 20px;
}
h1+p{
  color: black;
  position: absolute;
  top: 197px;
  left: 140px;
}
.top-links{
  position: absolute;
  bottom: 10px;
  left: 20px;
  /* background-color: blue; */
width: 1300px;
}
button{
  background-color: #0072B4;
  color: white;
}
aside li{
  width: 220px;
}