@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$dark-grey:#212e37;
$light-grey:#2b3743;
$black:#000;
$white:#fff;
body {
  background-color:$dark-grey;
  color: $white;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $light-grey;
  color: inherit;
  align-items: center;
  padding: 5px 20px;
}

h1 {
  font-size: 25px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
.card {
  grid-column: span 3;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $light-grey;
  margin: 20px 40px;
  /* align-items: center; */
}

.grid-img {
  min-width: 100%;
  min-height: 190px;
  object-fit: cover;
}
a {
  text-decoration: none;
}
span {
  color: inherit;
  font-weight: 100;
}
form {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}

.card-content {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

select {
  background-color: $light-grey;
  color: inherit;
  padding: 0px 10px;
}
input[type="text"] {
  color: inherit;
  background-color: $light-grey;
  outline: none;
  border: none;
  width: 100%;
}

input[type="text"]::placeholder {
  color: inherit;
  background-color: $light-grey;
}

.search-div {
  color: inherit;
  background-color: $light-grey;
  padding: 15px;
  display: flex;
  width: 30vw;
}

button {
  background-color: $light-grey;
  border: none;
}
.icon {
  color: $white;
  background-color: $light-grey;
  margin-right: 10px;
}
h2 {
  font-weight: 800;
  font-size: 20px;
}

.details-wrapper {
  display: flex;
  margin-inline: auto;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  color: inherit;
  width: 90%;
  &__img {
    min-width: 50%;
    object-fit: cover;
    min-height: 100%;
  }
  &__content {
    width: 50%;
    padding: 20px;
    margin-left: 30px;
    
  }
  &__not-borders{
    display: flex;
    justify-content: space-between;
  }
}

.border-country {
  color: inherit;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: $light-grey;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.17);
}

p {
  font-size: 0.8rem;
  line-height: 0.8em;
  text-align: left;
  font-weight: 600;
}

.back-btn {
  color: inherit;
  background-color: $light-grey;
  padding: 5px;
  width: 100px;
  display: inline-block;
  margin: 10px 60px;
  text-align: center;
}
@media (max-width:900px) and (min-width:700px){
  header{
    max-width: 95%;
  }
  h1{
    font-size:20px ;
  }
  .grid{
    gap:5px;
  }

  .card {
    grid-column: span 3;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $light-grey;
    margin: 20px 10px;
    /* align-items: center; */
  }

  .details-wrapper__not-borders{
    display: block;
    padding: 5px;
  }
}

@media (max-width: 700px) {
  .card {
    grid-column: span 12;
  }
  form {
    display: block;
  }
  .search-div {
    width: 95%;
    margin: 5px;
    padding: 15px 0px;
    box-sizing: border-box;
  }
  input[type="text"] {
    width: 95%;
  }
  .details-wrapper {
    display: block;
    &__img {
      min-width: 100%;
      min-height: 40vh;
    }
    &__content {
      min-width: 100%;
      margin: 5px;
    }
    &__not-borders {
      display: block;
    }
    &__borders {
      display: block;
      margin: 10px 5px;
    }
  }

  .back-btn {
    margin: 10px 20px;
  }
  .filter {
    display: block;
  }
  select {
    margin: 5px;
    padding: 7px;
  }
  h1{
    font-size:20px ;
  }
}
